{
    "ignore": ["test/"],
    "ext": "js, graphql",
    "env": {
        "JWT_SECRET": "somesupersecretkey",
        "MONGO_URI": "mongodb://asdasd:asdasd@ds113122.mlab.com:13122/eventd",
        "REDIS_PASSWORD": "asdasdasdSASDasdasdadD",
        "REDIS_HOST": "redis-19422.c12.us-east-1-5.ec2.cloud.redislabs.com",
        "REDIS_PORT": 19422,
        "DEBUG": "graphql:* server:* middleware:*",
        "RECAPTCHA_SECRET_KEY": "6LeIxAcTAAAAAGG-vFI1TnRWxMZNFuojJ4WifJWe",
        "RECAPTCHA_SITE_KEY": "6LeIxAcTAAAAAJcZVRqyHh71UMIEGNQ_MXjiZKhI",
        "CLOUDMQTT_URL": "mqtt://asdasdad:afsfsdfsdfs@m22.cloudmqtt.com:13920",
        "FIREBASE_PROJECT_ID": "asasa-cc769",
        "FIREBASE_PRIVATE_KEY_ID": "adasd",
        "FIREBASE_PRIVATE_KEY": "-----BEGIN PRIVATE KEY-----\nsdfsdfsdf\n-----END PRIVATE KEY-----\n",
        "FIREBASE_CLIENT_EMAIL": "ssdfsdfsdf.iam.gserviceaccount.com",
        "FIREBASE_CLIENT_ID": "324423424",
        "FIREBASE_CLIENT_X509_CERT_URL": "https://www.googleapis.com/robot/v1/metadata/x509/firebase-adminsdk-yp8gr%dfsdfsdfsdf.iam.gserviceaccount.com"
    },
    "exec": "node"
}
